<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../css/test_model/style.css">
    <script type="text/javascript" src="../../static/test_model/libs/fabric.js"></script>
    <title>Model</title>
</head>
<body>
    <h1>{{text}}</h1>
    
    <section>
        <div class="model_canvas_style">
            <div class="model_title">Model Canvas</div>
            <canvas id = "model-canvas" width="2400" height="1200" style="border: 1px solid #000000;"></canvas>
        </div>
    </section>
    <br>
    <script src="../../static/test_model/test_model.js"></script>
</body>
</html>